---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import '@fontsource/noto-serif-sc';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content , remarkPluginFrontmatter , headings} = await post.render();

import type { MarkdownHeading } from 'astro';

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings?: HeadingWithSubheadings[];
};


---

<BlogPost {...post.data} headings = {headings}>

    <Content />
	<button class="float"><p class="time">{post.data.title} - {remarkPluginFrontmatter.minutesRead}</p></button>
	
</BlogPost>

