---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/BlogPost.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	 <body>
		<Layout
			title="About Me"
			description="about me"
			pubDate={new Date('August 08 2023')}
			heroImage="/blog-placeholder-about.jpg"
		>
		<main>
			<h5>Welcome to my personal website💫</h5>
			
			<p>
				<br>You can browse my published <a href="/note">notes</a> and <a href="/blog">blogs</a> about my research and learning journey into my subject of softwear engineering, as well as my love of games, photography, football and roller skating. This is the stage for me to share my knowledge and experience, show my personality and interest, and also the treasure place for you to obtain information and exchange ideas.
			</p>
			<p>
				As an undergraduate majoring in software engineering, I am currently preparing for postgraduate studies and hoping to deepen my learning and research in the software field.By the way,I will synchronize some of my learning and development experiences on this website and my <a href="https://github.com/JOviisaus">GitHub</a> home page.</p>
			<p> My <a href="/note">notes</a> record my learning and practice in this major, and I hope they can help you understand the basics of software engineering and stimulate your interest and enthusiasm for it.
			</p>
			<p>My <a href="/blog">blogs</a>, on the other hand, focuses on life, documenting my gaming experiences, photography, football matches and roller skating. They are real and precious, hoping to touch your emotions and trigger your love and pursuit of life.</p>
			<p>On the road of postgraduate entrance examination, I know the fierce competition and the severe challenges. I hope that through my personal website, with more like-minded friends to share my knowledge and experience, learn and progress together.</p>
			<p>Thank you for taking time out of your busy life to visit my personal website. If you have any questions or suggestions, please feel free to <a href="mailto:ouyangj0815@outlook.com">contact me</a>. May this small website become the starting point of our common growth, let us pursue a better future together.</p>
		</main>
	</body>
</html>
