---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/BlogPost.astro';

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout
			title="Courage and Imagine makes creativity💫"
			description="Established on August 08 2023"
			pubDate={new Date('August 08 2023')}
			heroImage="/Hommie.jpeg"
		>
		<main>

                <div align="center">
                    <div class="loader font1" text-align="center">
                        <span class="span3">從</span>
                        <span class="span6">何</span>
                        <span class="span2">時</span>
                        <span class="span3">開</span>
                        <span class="span5">始</span>
                        <span class="span2">忌</span>
                        <span class="span4">諱</span>
                        <span class="span6">空</span>
                        <span class="span7">山</span>
                        <span class="span">無</span>
                        <span class="span3">人</span>

                    </div>
                    <div class="loader font">
                        <span class="span5">從</span>
                        <span class="span4">何</span>
                        <span class="span6">時</span>
                        <span class="span7">開</span>
                        <span class="span3">始</span>
                        <span class="span2">怕</span>
                        <span class="span4">遙</span>
                        <span class="span5">望</span>
                        <span class="span1">星</span>
                        <span class="span7">塵</span>
                    </div>
                    <div class="loader font">
                        <span class="span7">原</span>
                        <span class="span4">來</span>
                        <span class="span5">神</span>
                        <span class="span2">仙</span>
                        <span class="span3">魚</span>
                        <span class="span4">橫</span>
                        <span class="span6">渡</span>
                        <span class="span7">大</span>
                        <span class="span2">海</span>
                        <span class="span1">會</span>
                        <span class="span2">斷</span>
                        <span class="span4">魂</span>
                    </div>
                    <div class="loader font">
                        <span>聽</span>
                        <span class="span2">不</span>
                        <span class="span3">到</span>
                        <span class="span4">世</span>
                        <span class="span5">人</span>
                        <span class="span6">愛</span>
                        <span class="span7">聽</span>
                        <span class="span8">的</span>
                        <span class="span9">福</span>
                        <span class="span10">音</span>
                    </div>
                <div>

		</main>
	</body>
</html>
